.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1120px;
  width: 85%;
  margin: auto;
  padding-top: 18px;
  padding-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .home-container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
  }
}

.home-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .home-details-container {
    align-items: flex-start;
  }
}

.mobile-image {
  width: 220px;
}

@media screen and (min-width: 768px) {
  .mobile-image {
    display: none;
  }
}

.desktop-img {
  width: 50%;
  max-width: 400px;
  margin-left: 75px;
}

@media screen and (max-width: 767px) {
  .desktop-img {
    display: none;
  }
}

.home-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 48px;
    text-align: left;
  }
}

.home-description {
  color: #64748b;
  font-size: 14px;
  font-family: 'Roboto';
  margin-top: 35px;
  margin-bottom: 0px;
  line-height: 26px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .home-description {
    font-size: 20px;
    text-align: left;
    margin-top: 0px;
  }
}

.home-button {
  background-color: #0967d2;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  width: 50%;
  margin-top: 40px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto';
}

@media screen and (min-width: 768px) {
  .home-button {
    font-size: 16px;
    width: 180px;
  }
}
